Django==1.9
HTMLParser==0.0.2
Jinja2==2.7.2
MarkupSafe==0.18
Pygments==1.6
South==0.7.6
Sphinx==1.2.1
argparse==1.2.1
beautifulsoup4==4.2.1
bvg-grabber==0.1b3
distribute==0.7.3
django-auth-ldap==1.2.7
django-bootstrap3==6.2.2
django-json-rpc==0.7.2
docutils==0.11
feedparser==5.1.2
gunicorn==19.1.0
ipython==0.13.1
mosquitto==1.2.3
paho-mqtt==1.0
pycrypto==2.6
python-dateutil==2.1
python-gcm==0.1.4
python-ldap==2.4.22
pytz==2014.4
requests==1.2.3
six==1.10.0
tzlocal==1.1.1
wsgiref==0.1.2
