Django==6.1.*
autopep8
django-auth-ldap
django-bootstrap3
djangorestframework
drf-spectacular
django-webpack-loader
gunicorn
ics
python-decouple
python-json-logger
pytest
pytest-django
pytest-cov
psycopg2-binary
pyfcm
python-ldap
paho-mqtt<2
feedparser
python-mpd2
