appdirs==1.4.3
beautifulsoup4==4.2.1
bvg-grabber==0.1b3
Django==1.9
django-auth-ldap==1.2.7
django-bootstrap3==6.2.2
django-json-rpc==0.7.2
django-webpack-loader==0.4.1
djangoajax==2.3.7
docutils==0.11
feedparser==5.1.2
gunicorn==19.1.0
HTMLParser==0.0.2
ipython==0.13.1
Jinja2==2.7.2
MarkupSafe==0.18
packaging==16.8
paho-mqtt==1.2.3
psycopg2==2.7.1
pycrypto==2.6
Pygments==1.6
pyparsing==2.2.0
python-dateutil==2.1
python-gcm==0.1.4
python-ldap==2.4.22
python-mpd==0.3.0
pytz==2014.4
requests==1.2.3
six==1.10.0
South==0.7.6
Sphinx==1.2.1
tzlocal==1.1.1
