Django==1.4.3
HTMLParser==0.0.2
Jinja2==2.7.2
MarkupSafe==0.18
Pygments==1.6
South==0.7.6
Sphinx==1.2.1
argparse==1.2.1
beautifulsoup4==4.2.1
bvg-grabber==0.1b3
distribute==0.6.24
django-auth-ldap==1.1.3
django-json-rpc==0.6.1
docutils==0.11
feedparser==5.1.2
gunicorn==19.1.0
ipython==0.13.1
mosquitto==1.2.3
paho-mqtt==1.0
pycrypto==2.6
python-dateutil==2.1
python-gcm==0.1.4
python-ldap==2.4.10
requests==1.2.3
six==1.3.0
wsgiref==0.1.2
