Django
autopep8
bvg-grabber
djangoajax
django-appconf
django-auth-ldap
django-bootstrap3
django-json-rpc
django-rest-framework
django-tagging
django-webpack
django-webpack-loader
gunicorn
ics
# json-rpc
psycopg2-binary
pyfcm
python-ldap
paho-mqtt<2
HTMLParser
feedparser
python-mpd2
