<table class='table table-striped table-condensed table-bordered table-hover'>
<tr><td>23:27</td><td>S7  (Gl. 3)</td><td>S Ahrensfelde Bhf (Berlin)</td></tr>
<tr><td>23:27</td><td>S7  (Gl. 4)</td><td>S Charlottenburg Bhf (Berlin)</td></tr>
<tr><td>23:27</td><td>U8</td><td>S+U Wittenau (Berlin) [U8]</td></tr>
<tr><td>23:29</td><td>S5  (Gl. 4)</td><td>S Spandau Bhf (Berlin)</td></tr>
<tr><td>23:31</td><td>U8</td><td>S+U Hermannstr. (Berlin)</td></tr>
<tr><td>23:34</td><td>Bus  248</td><td>S+U Warschauer Str.</td></tr>
<tr><td>23:34</td><td>S5  (Gl. 3)</td><td>S Strausberg Bhf, in Mahlsdorf bitte umsteigen</td></tr>
<tr><td>23:37</td><td>S7  (Gl. 4)</td><td>S Potsdam Hauptbahnhof</td></tr>
<tr><td>23:37</td><td>U8</td><td>S+U Wittenau (Berlin) [U8]</td></tr>
