<table class='table table-striped table-condensed table-bordered table-hover'>
<tr><td>15:15</td><td>U8</td><td>S+U Wittenau (Berlin) [U8]</td></tr>
<tr><td>15:15</td><td>U8</td><td>S+U Hermannstr. (Berlin)</td></tr>
<tr><td>15:17</td><td>S7  (Gl. 4)</td><td>S+U Friedrichstr. Bhf (Berlin)</td></tr>
<tr><td>15:19</td><td>S7  (Gl. 3)</td><td>S Ahrensfelde Bhf (Berlin)</td></tr>
<tr><td>15:20</td><td>U8</td><td>U Osloer Str. (Berlin)</td></tr>
<tr><td>15:20</td><td>U8</td><td>S+U Hermannstr. (Berlin)</td></tr>
<tr><td>15:21</td><td>Bus  248</td><td>S+U Warschauer Str.</td></tr>
<tr><td>15:22</td><td>S75  (Gl. 3)</td><td>S Wartenberg (Berlin)</td></tr>
<tr><td>15:22</td><td>S75  (Gl. 4)</td><td>S+U Friedrichstr. Bhf (Berlin)</td></tr>
<tr><td>15:25</td><td>U8</td><td>S+U Wittenau (Berlin) [U8]</td></tr>
<tr><td>15:25</td><td>U8</td><td>S+U Hermannstr. (Berlin)</td></tr>
</table>
